/* main style */
* {
  margin: 0;
  font-family: "Open Sans";
}

body {
  min-width: 900px;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  box-sizing: border-box;
}

/* header style */

.header-wrap {
  width: 100%;
  color: #ffffff;
  background: url(../img/sample2.jpg) 100% 100% no-repeat;
  background-size: cover;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__menu-btn {
  display: flex;
}

.header__menu-btn a:hover,
.header__login a:hover {
  color: #ece2e2;
}

.header__login {
  display: flex;
  justify-content: flex-end;
}

.header-wrap a {
  font-size: 24px;
  color: #ffffff;
  padding: 50px;
}

.header__content {
  text-align: center;
  padding: 10% 10% 15%;
}

.header__content h2 {
  font-size: 60px;
  letter-spacing: 20px;
}

.header__content h2 span {
  font-size: 100px;
}

header nav {
  padding-bottom: 5%;
}
header nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 20px;
}

header nav > ul > li {
  border: 2px solid #ffffff;
  padding: 1% 5%;
  text-align: center;
}

header nav > ul > li > a:hover {
  color: #ece2e2;
}

header nav > ul > li:hover {
  border-color: #ece2e2;
  box-shadow: 0 0 10px #ece2e2;
}

/* section style */
.section,
.section footer {
  background: #f3f3f3;
}
.section header {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.section header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-style: solid;
  clip-path: polygon(0 0, 100% 99%, 100% 0);
  background: #000000;
  z-index: -1;
  box-sizing: border-box;
  top: -2px;
}

.black__triangle {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  padding: 0 2%;
}
.black__triangle p {
  width: 50%;
  text-align: right;
  justify-content: flex-start;
  padding-bottom: 10%;
}
.white__triangle {
  display: flex;
  justify-content: flex-start;
  color: #000;
  padding: 0 2%;
}

.white__triangle p {
  width: 50%;
  text-align: left;
  justify-content: flex-start;
  padding-bottom: 5%;
}

/* article */

article h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 200;
  padding-bottom: 1%;
}

.post-title,
.other-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-title img,
.post-title div,
.other-title img,
.other-title div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  flex-grow: 1;
}

.post-title div,
.other-title div {
  padding: 2%;
}

.post-title .img,
.post-title div {
  padding-right: 0;
  position: relative;
}

.other-title .img {
  padding-left: 0;
  position: relative;
}

/* news */

.news-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #ffffff;
}

.news-box-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.news-box-items div {
  width: 25%;
  height: 400px;
  margin: 2%;
}

.news-box-button {
  margin: 2%;
}

.news-list-1,
.news-list-2,
.news-list-3,
.news-list-4,
.news-box-button {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.news-list-1 {
  background: url(../img/news-list-1.jpg) no-repeat;
}

.news-list-2 {
  background: url(../img/news-list-2.jpg) no-repeat;
}

.news-list-3 {
  background: url(../img/news-list-3.jpg) no-repeat;
}

.news-list-4 {
  background: url(../img/news-list-4.jpg) no-repeat;
}

.news-list-1::before,
.news-list-2::before,
.news-list-3::before,
.news-list-4::before,
.post-title .img::before,
.other-title .img::before,
.news-list-1::after,
.news-list-2::after,
.news-list-3::after,
.news-list-4::after,
.post-title .img::after,
.other-title .img::after {
  position: absolute;
  color: #ffffff;
  padding: 3%;
}

.news-list-1::before,
.news-list-2::before,
.news-list-3::before,
.news-list-4::before,
.post-title .img::before,
.other-title .img::before {
  right: 4%;
  top: 2%;
  border: #ffffff 2px solid;
  font-size: 14px;
  font-family: FontAwesome;
}

.news-list-1::after,
.news-list-2::after,
.news-list-3::after,
.news-list-4::after,
.post-title .img::after,
.other-title .img::after {
  left: 6%;
  bottom: 4%;
  border: none;
  font-size: 20px;
}

.post-title .img::before {
  content: "154 \f004";
  top: 10%;
}

.other-title .img::before {
  content: "172 \f004";
  top: 10%;
  right: 8%;
}

.news-list-1::before {
  content: "10 \f004";
}

.news-list-2::before {
  content: "35 \f004";
}

.news-list-3::before {
  content: "199 \f004";
}

.news-list-4::before {
  content: "88 \f004";
}

.post-title .img::before {
  content: "154 \f004";
  top: 10%;
}

.other-title .img::before {
  content: "172 \f004";
  top: 10%;
  right: 8%;
}

.news-list-1::before {
  content: "10 \f004";
}

.news-list-2::before {
  content: "35 \f004";
}

.news-list-3::before {
  content: "199 \f004";
}

.news-list-4::before {
  content: "88 \f004";
}
/*after*/

.post-title .img::after {
  content: "July 18 Spain";
  left: 8%;
  bottom: 10%;
}

.other-title .img::after {
  content: "January 15 South France";
  left: 6%;
  bottom: 6%;
}

.news-list-1::after {
  content: "January 18 Greece";
}

.news-list-2::after {
  content: "June 18 Italy";
}

.news-list-3::after {
  content: "December 11 USA";
}

.news-list-4::after {
  content: "May 25 Germany";
}

.news-box button {
  background: rgba(0, 120, 116, 0.7);
  border: none;
  width: 70%;
  padding: 5%;
  font-size: 24px;
  font-weight: 500;
  color: #fcfdfd;
}

.news-box button:hover,
.news-box button:focus {
  outline: none;
  background: rgba(0, 120, 116, 1);
}

#load__news {
  width: 20%;
  padding: 1.5% 0.5%;
  background: rgba(0, 120, 116, 1);
}

#load__news:hover {
  box-shadow: 0 0 10px rgb(1, 128, 123);
}

/* section footer */

.section footer p {
  padding: 2%;
  text-align: left;
  font-size: 32px;
  font-weight: 200;
}

.subscribe__mail,
.subscribe__mail form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2%;
}

.subscribe__mail form input {
  margin: 2%;
}

#submit,
#email {
  font-size: 24px;
  font-weight: 500;
  padding: 3%;
}

#submit {
  background: #007874;
  color: #fcfdfd;
  border: none;
}

#submit:hover {
  box-shadow: 0 0 10px rgb(1, 128, 123);
}

#submit:hover,
#submit:focus,
#email:hover,
#email:focus {
  outline: none;
}

#email {
  background: #f3f3f3;
  border: #000 2px solid;
}

#email::placeholder {
  color: #000000;
}

/* footer */

footer ul {
  display: flex;
  justify-content: flex-end;
  padding: 0 3%;
}

footer ul li {
  padding: 1.5%;
  text-align: center;
  font-size: 24px;
}

footer ul li a {
  color: #000;
}

footer ul li a:hover {
  color: #252323;
}
