$backgroundImage: url(../img/m-h-night.jpg);
$bodyBackground: #262832;
$footerBackground: #3d4151;
$mainFont: "Fresca", sans-serif;
$textIndent: 2px;
$colorTextBefore: #ff4232;
$sactionBannerBackground: linear-gradient(90deg, rgba(228, 154, 0, 1) 0%, rgba(163, 48, 79, 1) 100%);

$colorsText: (
  headerButtonColor: #eda900,
  colorHeader: white
);
