$backgroundImage: url(../img/m-h-day.jpg);
$bodyBackgroung: #ffffff;
$footerBackground: #262832;
$mainFont: "Hind", sans-serif;
$textIndent: 5px;
$colorTextBefore: #00a1c6;
$sactionBannerBackground: linear-gradient(90deg, rgba(86, 148, 15, 1) 0%, rgba(45, 16, 186, 0.9878326330532213) 100%);

$colorsText: (
  headerButtonColor: #5a9900,
  colorHeader: black
);
